{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <ul class="navbar-nav">
    {{- range . }}
      {{- if .Children }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Name }}
          </a>
          <ul class="dropdown-menu">
            {{- range .Children }}
              <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
            {{- end }}
          </ul>
        </li>
      {{- else }}
        <li class="nav-item">
          <a class="nav-link{{ if $page.IsMenuCurrent .Menu . }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{- end }}
    {{- end }}
  </ul>
{{- end }}
